.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #d369ce;
  height: 100vh;
  padding: 20px;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #72e8d8;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  color: aliceblue;
}

li {
  color: aliceblue;
  margin-bottom: 50px;
  max-width: 800px;
  text-align: justify;
  font-weight: bold;
  margin-left: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
